<section class="relative w-full overflow-hidden py-2 bg-white">
  <div class="w-full max-h-56 overflow-hidden">
    <img 
      src="/assets/principal/fondoLargo.png" 
      alt="Fondo decorativo" 
      class="w-full h-56 object-cover grayscale-[20%] brightness-95"
    />
  </div>
</section>
